* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

html {
  --color-light-grey: #bcbfc3;
  --color-bg: #ffffff;
  --color-bg-light: #fff;
  --color-bleu: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  --color-cream: #f7f6f6;
  --color-black: #000;
  --color-text-main: #000;
}

html[data-theme="dark"] {
  --color-bg: #515050;
  --color-white: #fff;
  --color-pastel-bleu: #a3d7ff;
  --color-pastel-yellow: #f7f43e;
  --color-pastel-green: #76e5b5;
  --color-pastel-red: #f8a7a7;
  --color-text-main: #fff;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
