.l-header {
  background: var(--color-bg-comp, #bcbfc3);
}

.l-main {
  background: var(--color-bg-light, #fff);
}

.l-footer {
  background: var(--color-bg-comp, #bcbfc3);
}

.l-header #header-hidden-links {
  display: none;
}

.l-header #header-hidden-links.active {
  display: flex;
}
