.article-switch-mode-btn {
  color: var(--color-text-main);
  background: var(--color-bg);
}

.article-text-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.article-text-icon-all {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.article-block-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.article-block-inside {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.article-block-all {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
  img {
    overflow: hidden;
    width: 100%;
  }
}

.article-svg {
  position: absolute;
  right: 12px;
  top: 12px;
}

.article-block-text {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: 75;
  background: var(--Background, #fff);
}

.article-subtitle {
  font-size: 16px;
}
