.filtre-button {
  background: none;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
}

.filtre-section-colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 40px;
  position: sticky;
  top: 0;
  p {
    color: var(--color-text-main);
    font-family: "Bubbler One";
    font-size: 24px;
    font-weight: 400;
  }

  button {
    border: none;
    display: flex;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    cursor: pointer;
  }
  h3 {
    color: var(--color-text-main-filtre);
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}

.filtre-button-yellow {
  background: var(--color-yellow);
}

.filtre-button-blue {
  background: var(--color-blue);
}

.filtre-button-red {
  background: var(--color-red);
}

.filtre-button-green {
  background: var(--color-green);
}

.filtre-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.filtre-button-blue.active {
  background: var(--color-bg);
  border: 1px solid var(--color-blue);
}

.filtre-button-blue.active h3 {
  color: var(--color-blue);
}

.filtre-button-blue.active svg {
  color: var(--color-blue);
}

.filtre-button-yellow.active {
  background: var(--color-bg);
  border: 1px solid var(--color-yellow);
}

.filtre-button-yellow.active h3 {
  color: var(--color-yellow);
}

.filtre-button-yellow.active svg {
  color: var(--color-yellow);
}

.filtre-button-red.active {
  background: var(--color-bg);
  border: 1px solid var(--color-red);
}

.filtre-button-red.active h3 {
  color: var(--color-red);
}

.filtre-button-red.active svg {
  color: var(--color-red);
}

.filtre-button-green.active {
  background: var(--color-bg);
  border: 1px solid var(--color-green);
}

.filtre-button-green.active h3 {
  color: var(--color-green);
}

.filtre-button-green.active svg {
  color: var(--color-green);
}

.god-card.hidden {
  display: none;
}

@media (max-width: 780px) {
  .filtre-section-colors {
    padding-bottom: 40px;
  }
}
