.filtre-button {
  background: none;
  display: flex;
  border-radius: 8px;
}

.filtre-section-colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 40px;
  position: sticky;
  top: 0;
  p {
    color: var(--color-text-main);
    font-family: "Bubbler One";
    font-size: 24px;
    font-weight: 400;
  }
  button {
    border: none;
    display: flex;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  h3 {
    color: var(--color-text-main-filtre);
  }
}

.filtre-button-yellow {
  background: var(--color-yellow);
}

.filtre-button-blue {
  background: var(--color-blue);
}

.filtre-button-red {
  background: var(--color-red);
}

.filtre-button-green {
  background: var(--color-green);
}

.filtre-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

@media (max-width: 393px) {
  .filtre-section-colors {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
