.main-switch-mode-btn {
  color: var(--color-text-main);
  background: var(--color-bg);
}

main {
  padding-top: 40px;
  padding-bottom: 20px;
}

.main-padding {
  padding-bottom: 40px;
}

.main-section-top {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  border: 2px solid var(--color-text-main);
}

.main-section-text-all {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.main-section-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-start;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  a {
    color: var(--color-text-main);
    font-family: "Bubbler One";
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}

.main-unter-text {
  color: var(--color-text-main);
  font-family: "Caesar Dressing";
  font-size: 16px;
}

.gods-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 780px) {
  main {
    padding-bottom: 20px;
  }

  .gods-grid {
    display: flex;
    gap: 12px;
  }
}
